/*Responsive*/

@media only screen and (max-width: 768px) {
  .container {
    max-width: 450px;
  }
  .Weather .search-engine {
    padding-top: 20px;
  }

  .Weather .city {
    border-radius: 15px;
    margin-top: 20px;
    background: url(./earth.png) no-repeat;
    background-position: -65% 126%;
    background-size: 300px;
  }

  .Weather h1 {
    font-size: 75px;
    padding-top: 20px;
  }

  .Weather .current-weather-icon {
    text-align: center;
    padding-top: 10px;
  }

  .Weather .current-conditions {
    padding: 10px;
    margin: 20px 20px 30px 20px;
    display: flex;
  }

  .current-temp {
    font-size: 60px;
  }

  .Weather .current-temp {
    color: #fff;
    order: 2;
    padding: 5px;
  }

  .Weather .current-humidity {
    color: #415643;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    margin-top: 10px;
    order: 1;
  }

  .Weather .current-wind-speed {
    color: #415643;
    font-style: italic;
    font-size: 13px;
    padding: 10px 0;
    order: 3;
    margin: 10px 0 0 10px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .Weather .search-engine {
    padding: 20px;
  }

  .Weather .search-bar {
    padding: 0 80px;
  }

  .Weather .city {
    border-radius: 15px;
    margin-top: 30px;
    background: url(./earth.png) no-repeat;
    background-position: -60% 52%;
    background-size: 300px;
  }

  .Weather h1 {
    font-size: 60px;
    padding-top: 15px;
    margin-left: 50px;
  }

  .Weather h2 {
    margin-left: 50px;
  }

  .Weather .date {
    margin-left: 50px;
  }

  .Weather .current-conditions {
    color: #fff;
    margin: 20px 55px 30px 40px;
    padding: 40px;
  }

  .current-temp {
    font-size: 75px;
  }

  .Weather .current-humidity {
    font-size: 25px;
  }

  .Weather .current-wind-speed {
    font-size: 20px;
  }

  .Weather .current-weather-icon {
    position: absolute;
    top: 120px;
    left: 330px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 850px;
  }

  .Weather .city {
    border-radius: 15px;
    margin-top: 20px;
    background: url(./earth.png) no-repeat;
    background-position: -45% 65%;
    background-size: 300px;
    padding-top: 5px;
  }

  .Weather h1 {
    font-size: 80px;
    padding-top: 30px;
    margin-left: 50px;
  }

  .Weather h2 {
    margin-left: 50px;
  }

  .Weather .date {
    margin-left: 50px;
  }

  .Weather .current-conditions {
    color: #fff;
    padding: 50px;
    margin: 30px 50px 30px;
  }

  .current-temp {
    font-size: 85px;
  }

  .Weather .current-temp {
    font-size: 80px;
  }

  .Weather .current-humidity {
    font-size: 35px;
  }

  .Weather .current-wind-speed {
    font-size: 30px;
  }

  .Weather .current-weather-icon {
    position: absolute;
    top: 125px;
    left: 400px;
  }
}

/*Responsive ends*/

.container {
  padding: 0px;
  position: relative;
  background-color: #fcf6ea;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Weather .search-engine {
  text-align: center;
}

.Weather h1 {
  color: #bbccb9;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  line-height: 0.8;
}

.Weather h2 {
  font-size: 30px;
  text-align: center;
  color: #7b9978;
  text-shadow: 1px 1px 1px #000;
  font-style: italic;
}

.Weather .date {
  text-align: center;
  font-size: 10px;
  font-style: italic;
  color: #7b9978;
}

.Weather .formatted-date {
  font-size: 15px;
  color: #415643;
  font-style: normal;
}

.Weather .search-bar {
  border-radius: 12px;
  border-color: #bbccb9;
  border-width: 1.5px;
  margin-right: 20px;
  color: #415643;
  font-style: italic;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Weather .button {
  border: none;
  border-radius: 15px;
  padding: 1px 8px;
  color: #fff;
  background-color: #bbccb9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.Weather .current-conditions {
  background-color: rgb(128, 173, 165, 0.4);
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  list-style: none;
  line-height: 0.8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Weather .current-humidity {
  color: #415643;
  font-style: italic;
}

.Weather .current-wind-speed {
  font-weight: bold;
}

.Weather .earth-image {
  width: 350px;
  position: absolute;
  top: -50px;
  left: -70px;
}

.Weather .weekly-forecast {
  background-color: rgb(128, 173, 165, 0.4);
  border-radius: 15px;
  padding: 10px 30px 80px 30px;
  margin: 20px 50px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
